.letra {
  font-size: 14px;
}
.cursor {
  cursor: pointer;
}
.padding {
  padding: 0;
}

.list-group > li:last-child {
  margin-bottom: 20px;
}
.letras {
  font-size: 10px;
}
.noborder {
  border: 0px;
}
.background {
  height: 100vh;
  background-image: url(../img/campo2.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
@media handheld, only screen and (max-width: 1024px) {
  .session {
    display: none;
  }
}
.login {
  height: 100vh;
}
.card1 {
  background-color: rgb(64, 85, 88, 0.4);
  border-color: transparent;
}
.card2 {
  background-color: rgb(64, 85, 88, 0.8);
  border-color: transparent;
}
.card3 {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: transparent;
}
.newcolor {
  color: rgba(188, 238, 255, 0.6);
}
.invi {
  background-image: url(../img/cesped1.jpg);
}
.nombres {
  height: 60px;
}
.colores {
  background-color: #081c3d;
  color: white;
}
.back {
  height: 45px;
  width: 45px;
}
.darkblue {
  background-color: #081c3d;
  color: white;
  border-color: transparent;
}
.list-group-item {
  background-color: transparent;
}
.blanco {
  color: white;
}
