<div class="container">
	<div class="row">
		<div class="col-12 text-center">
			<div class="d-flex bd-highlight mb-3">
				<button class="btn btn-light p-2 flex-fill letra" ng-click="inicioInvitado()">Partidos</button>
				<button class="btn btn-light p-2 flex-fill letra">Resultados</button>
				<button class="btn btn-light p-2 flex-fill letra" ng-click="equipos()">Equipos</button>
				<button class="btn btn-light p-2 flex-fill letra" ng-click="posiciones()">Posiciones</button>
			</div>
			<div>
				<img src="{{equipo.escudo}}" height="150" width="150" class="mt-3">
				<h5>{{equipo.nombre}}</h5>
				<div class="col-6">
					<h3>Jugador</h3>
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="jugadores in jugadores">{{jugadores.nombre}}</li>
					</ul>
				</div>
				<div class="col-6">
					<h3>Posicion</h3>
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="posicion in jugadores">{{posicion.fk_id_rol_posicion}}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>