<di class="container">
	<div class="row">
		<div class="col-12 text-center">
			<div class="d-flex bd-highlight mb-3">
				<button class="btn btn-light p-2 flex-fill letra" ng-click="inicioInvitado()">Partidos</button>
				<button class="btn btn-light p-2 flex-fill letra">Resultados</button>
				<button class="btn btn-light p-2 flex-fill letra" ng-click="equipos()">Equipos</button>
				<button class="btn btn-light p-2 flex-fill letra">Posiciones</button>
			</div>
			<i class="fa fa-soccer-ball-o fa-5x"></i>
			<h1>Equipos</h1>
			<div class="row mt-5">
				<div class="col-6">
					<div ng-click="equipo()" class="card border border-dark cursor">
						<i class="fa fa-flag fa-2x"></i>
						<h2>Colombia</h2>
					</div>
				</div>
				<div class="col-6">
					<div ng-click="equipo()" class="card border border-dark cursor">
						<i class="fa fa-flag fa-2x"></i>
						<h2>Inglaterra</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</di>