<div class="container">
	<div class="row d-flex align-items-center justify-content-center">
		<div class="col-12">
			<div class="text-center">
				<div class="d-flex bd-highlight mb-3">
					<button class="btn btn-light p-2 flex-fill letra">Partidos</button>
					<button class="btn btn-light p-2 flex-fill letra">Resultados</button>
					<button class="btn btn-light p-2 flex-fill letra">Equipos</button>
					<button class="btn btn-light p-2 flex-fill letra">Posiciones</button>
				</div>
				<h2>Partidos hoy</h2>
				<!-- Inicio Partidos-->
				<div class="card border border-dark">
					<div class="d-flex bd-highlight">
						<div class="mr-auto p-2 bd-highlight">Torneo relámpago</div>
						<div class="p-2 bd-highlight">Partido 1</div>
					</div>
				</div>
				<div class="card border border-dark" ng-click="infoPartido()">
					<div class="d-flex bd-highlight">
						<div class="p-2 flex-fill bd-highlight">Colombia
							<i class="fa fa-flag fa-2x"></i>
						</div>
						<div class="p-2 flex-fill bd-highlight border border-dark">1:00 P.M.</div>
						<div class="p-2 flex-fill bd-highlight">Inglaterra
							<i class="fa fa-flag fa-2x"></i>
						</div>
					</div>
				</div>
				<br>
				<div class="card border border-dark">
					<div class="d-flex bd-highlight">
						<div class="mr-auto p-2 bd-highlight">Torneo relámpago</div>
						<div class="p-2 bd-highlight">Partido 2</div>
					</div>
				</div>
				<div class="card border border-dark">
					<div class="d-flex bd-highlight">
						<div class="p-2 flex-fill bd-highlight">Colombia
							<i class="fa fa-flag fa-2x"></i>
						</div>
						<div class="p-2 flex-fill bd-highlight border border-dark">1:00 P.M.</div>
						<div class="p-2 flex-fill bd-highlight">Inglaterra
							<i class="fa fa-flag fa-2x"></i>
						</div>
					</div>
				</div>
				<br>
				<div class="card border border-dark">
					<div class="d-flex bd-highlight">
						<div class="mr-auto p-2 bd-highlight">Torneo relámpago</div>
						<div class="p-2 bd-highlight">Partido 3</div>
					</div>
				</div>
				<div class="card boder border-dark">
					<div class="d-flex bd-highlight">
						<div class="p-2 flex-fill bd-highlight">Colombia
							<i class="fa fa-flag fa-2x"></i>
						</div>
						<div class="p-2 flex-fill bd-highlight border border-dark">1:00 P.M.</div>
						<div class="p-2 flex-fill bd-highlight">Inglaterra
							<i class="fa fa-flag fa-2x"></i>
						</div>
					</div>
				</div>
				<br>
				<div class="card border border-dark">
					<div class="d-flex bd-highlight">
						<div class="mr-auto p-2 bd-highlight">Torneo relámpago</div>
						<div class="p-2 bd-highlight">Partido 4</div>
					</div>
				</div>
				<div class="card border border-dark">
					<div class="d-flex bd-highlight">
						<div class="p-2 flex-fill bd-highlight">Colombia
							<i class="fa fa-flag fa-2x"></i>
						</div>
						<div class="p-2 flex-fill bd-highlight border border-dark">1:00 P.M.</div>
						<div class="p-2 flex-fill bd-highlight">Inglaterra
							<i class="fa fa-flag fa-2x"></i>
						</div>
					</div>
				</div>
				<br>
				<!-- Fin Partidos-->
				<div class="col-12">
					<i class="fa fa-soccer-ball-o fa-5x"></i>
				</div>
			</div>
		</div>
	</div>
</div>