<div class="container-fluid invi">
	<div class="row d-flex align-items-center justify-content-center">
		<div class="col-12">
			<div class="text-center">
				<div class="d-flex bd-highlight mb-3">
					<button class="btn btn-light p-2 flex-fill letra active darkblue" ng-click="inicioInvitado()">Partidos</button>
					<button class="btn btn-light p-2 flex-fill letra darkblue" ng-click="resultados()">Resultados</button>
					<button class="btn btn-light p-2 flex-fill letra darkblue" ng-click="equipos()">Equipos</button>
					<button class="btn btn-light p-2 flex-fill letra darkblue" ng-click="posiciones()">Posiciones</button>
				</div>

				<div class="d-flex justify-content-between">
					<button type=" button " class=" btn btn-danger rounded-circle mb-3" ng-click="invitado() ">
						<i class="fa fa-angle-left fa-2x "></i>
					</button>
					<h2 class="blanco ">Partidos hoy</h2>
					<div class="invisible">fidesty</div>
				</div>

				<!-- Inicio Partidos-->
				<div class="card border border-dark colores ">
					<div>
						<div class="mr-auto p-2 bd-highlight ">Torneo relámpago</div>
					</div>
				</div>
				<div class="card border border-dark cursor colores " ng-click="infoPartido() ">
					<div class="d-flex bd-highlight ">
						<div class="p-2 flex-fill bd-highlight ">Colombia
							<i class="fa fa-flag fa-2x "></i>
						</div>
						<div class="p-2 flex-fill bd-highlight border border-dark ">VS</div>
						<div class="p-2 flex-fill bd-highlight ">Inglaterra
							<i class="fa fa-flag fa-2x "></i>
						</div>
					</div>
				</div>
				<br>
				<div class="card border border-dark colores ">
					<div>
						<div class="mr-auto p-2 bd-highlight ">Torneo relámpago</div>
					</div>
				</div>
				<div class="card border border-dark colores ">
					<div class="d-flex bd-highlight ">
						<div class="p-2 flex-fill bd-highlight ">Colombia
							<i class="fa fa-flag fa-2x "></i>
						</div>
						<div class="p-2 flex-fill bd-highlight border border-dark ">VS</div>
						<div class="p-2 flex-fill bd-highlight ">Inglaterra
							<i class="fa fa-flag fa-2x "></i>
						</div>
					</div>
				</div>
				<br>
				<div class="card border border-dark colores ">
					<div>
						<div class="mr-auto p-2 bd-highlight ">Torneo relámpago</div>
					</div>
				</div>
				<div class="card boder border-dark colores ">
					<div class="d-flex bd-highlight ">
						<div class="p-2 flex-fill bd-highlight ">Colombia
							<i class="fa fa-flag fa-2x "></i>
						</div>
						<div class="p-2 flex-fill bd-highlight border border-dark ">VS</div>
						<div class="p-2 flex-fill bd-highlight ">Inglaterra
							<i class="fa fa-flag fa-2x "></i>
						</div>
					</div>
				</div>
				<br>
				<div class="card border border-dark colores ">
					<div>
						<div class="mr-auto p-2 bd-highlight ">Torneo relámpago</div>
					</div>
				</div>
				<div class="card border border-dark colores ">
					<div class="d-flex bd-highlight ">
						<div class="p-2 flex-fill bd-highlight ">Colombia
							<i class="fa fa-flag fa-2x "></i>
						</div>
						<div class="p-2 flex-fill bd-highlight border border-dark ">VS</div>
						<div class="p-2 flex-fill bd-highlight ">Inglaterra
							<i class="fa fa-flag fa-2x "></i>
						</div>
					</div>
				</div>
				<br>
				<!-- Fin Partidos e icono balon-->
				<div class="row ">
					<i class="col-12 fa fa-soccer-ball-o fa-5x blanco "></i>
				</div>
			</div>
		</div>
	</div>
</div>