<div class="container-fluid">
	<div class="row d-flex align-items-center justify-content-center">
		<div class="col-12 padding">
			<div class="card text-center background" style="border-style: none;">
				<div class="card-body ">
					<div class="col-12">
						<h1 style="color: green" 2>PLAY SOCCER</h1>
					</div>
					<div class="col-12 mt-5">
						<i class="fa fa-soccer-ball-o fa-5x"></i>
					</div>
					<div class="col-12 mt-5">
						<button ng-click="inicioInvitado()" class=" btn btn-danger">Ver torneo</button>
					</div>
					<div class="col-12 mt-5 session">
						<button ng-click="delegado()" class=" btn btn-danger">Iniciar sesion</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>