<div class="container-fluid invi">
	<div class="row text-center">
		<div class="col-12">
			<div class="d-flex bd-highlight mb-3">
				<button class="btn btn-light p-2 flex-fill letra darkblue" ng-click="inicioInvitado()">Partidos</button>
				<button class="btn btn-light p-2 flex-fill letra darkblue" ng-click="resultados()">Resultados</button>
				<button class="btn btn-light p-2 flex-fill letra darkblue" ng-click="equipos()">Equipos</button>
				<button class="btn btn-light p-2 flex-fill letra active darkblue" ng-click="posiciones()">Posiciones</button>
			</div>
			<div class="row blanco">
				<h2 class="d-flex justify-content-start col-12">Grupo A</h2>
				<ul class="list-group col-4">
					<li class="list-group-item padding noborder">Equipo</li>
				</ul>
				<ul class="list-group col-1">
					<li class="list-group-item padding noborder">PJ</li>
				</ul>
				<ul class="list-group col-1">
					<li class="list-group-item padding noborder">G</li>
				</ul>
				<ul class="list-group col-1">
					<li class="list-group-item padding noborder">E</li>
				</ul>
				<ul class="list-group col-1">
					<li class="list-group-item padding noborder">P</li>
				</ul>
				<ul class="list-group col-1">
					<li class="list-group-item padding noborder">GF</li>
				</ul>
				<ul class="list-group col-1">
					<li class="list-group-item padding noborder">GC</li>
				</ul>
				<ul class="list-group col-1">
					<li class="list-group-item padding noborder">DG</li>
				</ul>
				<ul class="list-group col-1">
					<li class="list-group-item padding noborder">Pts</li>
				</ul>
			</div>
		</div>
	</div>
</div>