<nav class="nav navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
		<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#zone">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="zone">
			<i class="fa fa-futbol-o fa-4x "></i>
			<a class="navbar-brand ml-1 mt-2" style="color: #36FF26">
				<h2>Play Soccer</h2>
			</a>
			<form class="form-row aling-items-center w-100 justify-content-end 	">
				<i class="fa fa-user fa-4x " style="color: white;"></i>
				<div class="form-group ml-1 mt-4">
					<div class="dropdown">
						<button class="btn btn-outline-info  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
						 aria-expanded="false">
							Delegado
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<a class="dropdown-item" style="cursor: pointer;" ng-click="reset()">Cerrar Sesion</a>
						</div>
					</div>
				</div>
			</form>

		</div>
	</div>
</nav>
<div class="container mt-5">
	<div class="row">
		<div class="col-6 mt-5">
			<div class="card text-center" style="border-style: none">
				<div class="card-body">
					<div class="row">
						<div class="col-10">
							<h1>Mis Funciones</h1>
						</div>
						<div class="col-2">
							<i class="fa fa-arrow-right fa-4x"></i>
						</div>
					</div>


				</div>
			</div>
		</div>
		<div class="col-6 mt-5">
			<div class="card text-center" style="border-style: none">
				<div class="card-body">
					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-body">
									<form>
										<div class="form-group">
											<button type="button" class="form-control btn btn" style="background: #E8E8E6" ng-click="partidos()">Registrar Partidos</button>
										</div>
										<div class="form-group">
											<button type="button" class="form-control btn" style="background: #E8E8E6;" data-toggle="modal" data-target="#show3">Registrar Equipos</button>
										</div>
										<div class="form-group">
											<button type="button" class="form-control btn" style="background: #E8E8E6" ng-click="datos()">Registrar Jugadores</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>





</div>

<div class="modal fade" id="show2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Registrar Partidos</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-row">
						<div class="form-group col-md-12">
							<label>Grupos</label>
							<select class="form-control" ng-model="select" required ng-change="change()">
								<option hidden value="">Seleccione</option>
								<option ng-repeat="date in array" value="{{date.id}}">{{date.nombre}}</option>
							</select>
						</div>

						<div class="form-group col-md-6">
							<label>Equipo: </label>
							<select class="form-control" required ng-change="validacion('equipo1')" ng-model="select1">
								<option hidden value="">Seleccione</option>
								<option ng-repeat="date in equipo" value="{{date.id}}">{{date.nombre}}</option>
							</select>
						</div>
						<div class="form-group col-md-6">
							<label>Equipo: </label>
							<select class="form-control" required ng-change="validacion('equipo2')" ng-model="select2">
								<option hidden value="">Seleccione</option>
								<option ng-repeat="date in equipo" value="{{date.id}}">{{date.nombre}}</option>
							</select>
						</div>

						<div class="form-group col-md-6">
							<label>Goles</label>
							<input type="number" placeholder="goles marcados" class="form-control" required readonly ng-model="gol1">
						</div>

						<div class="form-group col-md-6">
							<label>Goles</label>
							<input type="number" placeholder="goles marcados" class="form-control" required readonly ng-model="gol2">
						</div>
						<div class="form-group col-md-6">
							<label>Jugador</label>
							<select class="form-control" required ng-model="jugador1">
								<option hidden value="">Seleccione</option>
								<option ng-repeat="date in jugadores1" value="{{date.id}}">{{date.nombre + ' ' + date.primer_apellido}}</option>
							</select>
						</div>
						<div class="form-group col-md-6">
							<label>Jugador</label>
							<select class="form-control" required ng-model="jugador2">
								<option hidden value="">Seleccione</option>
								<option ng-repeat="date in jugadores2" value="{{date.id}}">{{date.nombre + ' ' + date.primer_apellido}}</option>
							</select>
						</div>
						<div class="col-3">
							<button class="btn btn-warning btn-block" ng-click="YellowCard('equipo1')">Amarilla</button>
						</div>
						<div class="col-3">
							<button class="btn btn-danger btn-block" ng-click="RedCard('equipo1')">Roja</button>
						</div>

						<div class="col-3">
							<button class="btn btn-warning btn-block" ng-click="YellowCard('equipo2')">Amarilla</button>
						</div>
						<div class="col-3">
							<button class="btn btn-danger btn-block" ng-click="RedCard('equipo2')">Roja</button>
						</div>
						<div class="from-group col-md-6">
							<button type="button" class="btn btn-light btn-block mt-1" ng-click="goles('equipo1')">
								<i class="fa fa-soccer-ball-o fa-2x"></i>
							</button>
						</div>
						<div class="from-group col-md-6">
							<button type="button" class="btn btn-light btn-block mt-1" ng-click="goles('equipo2')">
								<i class="fa fa-soccer-ball-o fa-2x"></i>
							</button>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
				<button type="submit" class="btn btn-success" ng-click="RegistrarPartidos()">Crear</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="show3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Registrar Equipos</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form name="form">
					<div class="form-row">
						<div class="form-group col-md-12">
							<label>Nombre Equipo</label>
							<input class="form-control" type="text" placeholder="Equipo" required ng-model="nombre">
						</div>
						<div class="form-group col-md-12">
							<label>Escudo</label>
							<input type="file" class="button form-control" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'"
							 ngf-max-size="20MB" ngf-min-height="100" ngf-resize="{width: 100, height: 100}">
						</div>

					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
				<button type="submit" class="btn btn-success" ng-click="submit()">Crear</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="show4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Registrar Jugadores</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form ng-submit="AddJugador()">
					<div class="form-row">
						<div class="form-group col-md-6">
							<label>Nombres</label>
							<input class="form-control" type="text" placeholder="Nombre Completo" required ng-model="jugador.nombre">
						</div>
						<div class="form-group col-md-6">
							<label>Primer Apellido</label>
							<input type="text" class="form-control" placeholder="Primer Apelldio" ng-model="jugador.primer_apellido">
						</div>
						<div class="form-group col-md-6">
							<label>Segundo Apellido</label>
							<input type="text" class="form-control" placeholder="Segundo Apelldio" ng-model="jugador.segundo_apellido">
						</div>
						<div class="form-group col-md-6">
							<label>Tipo documento</label>
							<select class="form-control" required ng-model="jugador.fk_id_tpd">
								<option hidden value="">Seleccione el tipo de documento</option>
								<option ng-repeat="date in array" value="{{date.id}}">{{date.nombre}}</option>
							</select>
						</div>
						<div class="form-group col-md-6">
							<label>Numero de documento</label>
							<input type="number" class="form-control" placeholder="Documento" ng-model="jugador.numero_documento">
						</div>
						<div class="form-group col-md-6">
							<label>Posicion</label>
							<select class="form-control" required ng-model="jugador.fk_id_rol_posicion">
								<option hidden value="">Seleccione</option>
								<option ng-repeat="date in posicion" value="{{date.id}}">{{date.nombre}}</option>
							</select>
						</div>
						<div class="form-group col-md-6">
							<label>Numero camiseta</label>
							<input type="number" class="form-control" placeholder="Documento" ng-model="jugador.numero_camiseta" required>
						</div>
						<div class="form-group col-md-6">
							<label>Equipo</label>
							<select class="form-control" required ng-model="jugador.fk_id_equipo">
								<option hidden value="">Seleccione</option>
								<option ng-repeat="date in equipo" value="{{date.id}}">{{date.nombre}}</option>
							</select>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
						<button type="submit" class="btn btn-success">Registrar</button>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>